body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f6f6f6;
}
header{
    background-color: #e4e5eb;
    padding: 5px;
    color: white;
    text-align: center;
  }  
.hd{
    background-color: #1f5ca9;
    color: white;
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    text-decoration: rgb(240, 240, 245);
}

.cart-logo{
    width: 30px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
}
.logo {
    font-size: 24px;
    color: white;
    margin-right: 10px;
}
.separator{
    font-size: 24px;
    margin: 0 10;
}

.title {
    font-size: 20px;
    margin-right: auto;
    margin-left: 10px;
}

.search-form {
    display: flex;
    flex-grow: 1;
    padding: 8px;
}
    
.search-form input {
    padding: 5px;
    border: none;
    border-radius: 4px 0 0 4px;
    width: 100%;
    margin-left: 10px;
}

.search-form button {
    padding: 5px;
    border: none;
    background-color: #053671;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    margin-right: 10px;
}

.navbar {
    display: flex;
    gap: 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.empty-cart {
    text-align: center;
}

.cart-icon {
    width: 80px;
    height: 80px;
    background-color: #d4d4d4;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-icon i{
    font-size: 24px;
    color: #555;
}

.empty-cart p {
    margin: 10px 0;
}

.buy-now {
    padding: 10px 20px;
    background-color:#1f5ca9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.footer {
    background: #1f5ca9;
    padding: 10px;
    display: flex;
    justify-content: space-between;
   
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
   
}
.left {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    color: white;

}
.left input {
    margin-right: 5px;
    align-items: center;
    letter-spacing: 1px;
}
.right {
    display: flex;
    align-items: center;
    color: white;
}
.button:disabled {
    background: #ccc;
    cursor: not-allowed;
}
.price {
    color: white;
    font-weight: bold;
}
